body {
    font-family: Source Sans Pro, sans-serif;
    margin: 0;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 3rem;
    margin-bottom: 26px;
}

h2 {
    margin-top: 8px;
    font-size: 37px;
    font-weight: 500;
    color: #000000;
    position: relative;
}

h4 {
    text-transform: uppercase;
    color: #008ed6;
    font-size: 15px;
    font-weight: bold;
    margin-top: 54px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.lines::before {
    content: url(" ");
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #008ed6;
}

.lines::after {
    content: url(" ");
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #008ed6;
}

.button {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
}

.blue_button {
    width: 159px;
    height: 51px;
    border: none;
    border-radius: 3px;
    background-color: #008ed6;
}

.transparent_button {
    width: 158px;
    height: 50px;
    border: 1px solid #767677;
    background-color: transparent;
}

header {
    background-image: url("./images/photo.png");
    background-size: 100%;
}

header > .wrapper {
    height: 639px;
    overflow: hidden;
}

.head-line {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.head-line .logo_sign {
    margin-top: 5px;
}

.head-line .logo_sign .left_text {
    display: inline-block;
    align-items: center;
    font-family: Quicksand, sans-serif;
    font-size: 25px;
    padding-top: 6px;
    color: #fff;
}

.head-line .logo_sign .right_text {
    display: inline-block;
    align-items: center;
    font-family: Quicksand, sans-serif;
    font-size: 11px;
    padding-left: 1px;
    line-height: 12px;
    color: #45454b;
}

.head-menu {
    display: inline-block;
}

.menu_item {
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 35px;
    color: #fffefe;
}

.head-menu .lines::before {
    content: url(" ");
    bottom: -10px;
    left: 2px;
}

.head-menu .lines::after {
    content: url(" ");
    bottom: -10px;
    right: 3px;
}

.head-area {
    display: flex;
    justify-content: space-between;
}

.introducing_part {
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
    width: 40%;
}

.head_image {
    text-align: right;
    margin-top: 28px;
    margin-right: 2px;
}

.head_image > img {
    width: 500px;
    height: 633px;
}

.introducing_part > p {
    color: #767677;
    font-size: 18px;
    line-height: 1.6rem;
}

.buttons-area {
    margin-top: 60px;
}

.buttons-area .transparent_button {
    margin-left: 18px;
}

.features > h4 {
    margin-top: 60px;
    text-align: center;
}

.features > h2 {
    text-align: center;
}

h2.lines::before {
    content: url(" ");
    bottom: -35px;
    left: 565px;
    width: 20px;
}

h2.lines::after {
    content: url(" ");
    bottom: -35px;
    left: 586px;
    width: 20px;
}

.features_list {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.features_list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.feature_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    color: #008ed6;
    width: 87px;
    height: 87px;
    font-size: 28px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.feature_title {
    font-size: 25px;
    font-weight: 500;
    margin: 13px 0;
}

.feature_info {
    font-size: 19px;
    font-weight: 400;
    color: #767677;
    margin: -2px;
    text-align: center;
    line-height: 26px;
}


