body {
    font-family: Source Sans Pro, sans-serif;
    margin: 0;
}

h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 3rem;
    margin-bottom: 26px;
}

h2 {
    margin-top: 8px;
    font-size: 37px;
    font-weight: 500;
    color: #000000;
    position: relative;
}

h4 {
    text-transform: uppercase;
    color: #008ed6;
    font-size: 15px;
    font-weight: bold;
    margin-top: 54px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.lines::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #008ed6;
}

.lines::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #008ed6;
}

.button {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    padding-top: 5px;
    cursor: pointer;
    border-radius: 3px;
    color: #ffffff;
    border: none;
}

.blue_button {
    width: 159px;
    height: 51px;
    border: none;
    border-radius: 3px;
    background-color: #008ed6;
}

.transparent_button {
    width: 158px;
    height: 50px;
    border: 1px solid #767677;
    background-color: transparent;
}

.button:hover, .blue_button:hover {
    background-color: #5098c7;
    transition-duration: 0.2s;
}

.transparent_button:hover {
    background-color: #adb0c7;
    color: #45454b;
    transition-duration: 0.2s;
}

header {
    background-image: url("./images/photo.png");
    background-size: 100%;
}

header > .wrapper {
    height: 639px;
    overflow: hidden;
}

.head-line {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.head-line .logo_sign {
    margin-top: 5px;
}

.head-line .logo_sign .left_text {
    display: inline-block;
    align-items: center;
    font-family: Quicksand, sans-serif;
    font-size: 25px;
    padding-top: 6px;
    color: #fff;
}

.head-line .logo_sign .right_text {
    display: inline-block;
    align-items: center;
    font-family: Quicksand, sans-serif;
    font-size: 11px;
    padding-left: 1px;
    line-height: 12px;
    color: #45454b;
}

.head-menu {
    display: inline-block;
}

.menu_item {
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 35px;
    color: #fffefe;
}

.head-menu .lines::before {
    content: '';
    bottom: -10px;
    left: 2px;
}

.head-menu .lines::after {
    content: '';
    bottom: -10px;
    right: 3px;
}

.head-area {
    display: flex;
    justify-content: space-between;
}

.introducing_part {
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;
    width: 40%;
}

.head_image {
    text-align: right;
    margin-top: 28px;
    margin-right: 2px;
}

.head_image > img {
    width: 500px;
    height: 633px;
}

.introducing_part > p {
    color: #767677;
    font-size: 18px;
    line-height: 1.6rem;
}

.buttons-area {
    margin-top: 60px;
}

.buttons-area .transparent_button {
    margin-left: 18px;
}

.features > h4 {
    margin-top: 60px;
    text-align: center;
}

.features > h2 {
    text-align: center;
}

.features > h2.lines::before {
    content: '';
    bottom: -35px;
    left: 579px;
    width: 20px;
}

.features > h2.lines::after {
    content: '';
    bottom: -35px;
    left: 601px;
    width: 20px;
}

.features_list {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.features_list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.feature_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    color: #008ed6;
    width: 87px;
    height: 87px;
    font-size: 28px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.feature_title {
    font-size: 25px;
    font-weight: 500;
    margin: 13px 0;
}

.feature_info {
    font-size: 19px;
    font-weight: 400;
    color: #767677;
    margin: -2px;
    text-align: center;
    line-height: 26px;
}

hr {
    margin-top: 70px;
}

.details-list .wrapper > div {
    display: flex;
    justify-content: space-between;
}

.details-list_image {
    width: 42%;
    padding: 60px 37px;
}

.details_info {
    width: 50%;
    margin-left: 37px;
    margin-top: 54px;
}

.details_info > h2.lines::before {
    content: '';
    bottom: -26px;
    left: 0;
    width: 20px;
}

.details_info > h2.lines::after {
    content: '';
    bottom: -26px;
    left: 22px;
    width: 20px;
}

.details_info > p {
    font-size: 18px;
    font-weight: 400;
    color: #767677;
    line-height: 1.63rem;
    padding-top: 21px;
    padding-right: 100px;
}

.details-list_summary {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.details-list_summary-item {
    display: inline-block;
    margin-top: 13px;
    font-size: 18px;
}

.details-list_summary-item > i {
    color: #008ed6;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.details-list_summary-item > p {
    display: inline;
    margin-left: 10px;
}

.details {
    background-color: #f2f2f2;
    margin-top: -32px;
    padding-top: 32px;
    padding-bottom: 25px;
}

.details .wrapper > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.details .details_info {
    width: 48%;
    margin-left: 15px;
    margin-top: 40px;
}

.details .details_info > p {
    padding-right: 0;
}

.details_image {
    width: 59%;
}

.pricing-feedback {
    background-image: url("images/contexte-flou-eleves-etudiant_23-2147666437.jpeg");
    background-size: cover;
}

.visual_effect {
    background-color: rgba(62, 54, 58, 0.62);
}

.pricing-feedback .wrapper > h4 {
    text-align: center;
    padding-top: 59px;
    margin-top: 0;
}

.pricing-feedback .wrapper > h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.pricing-feedback .wrapper h2.lines::before {
    content: '';
    top: 73px;
    left: 580px;
}

.pricing-feedback .wrapper h2.lines::after {
    content: '';
    top: 73px;
    left: 600px;
}

.feedback {
    display: flex;
    margin-top: 100px;
    height: 408px;
}

.feedback_text {
    width: 50%;
    margin-left: 10px;
    padding-right: 12px;
    color: #ffffff;
}

.feedback_text > p {
    font-size: 24px;
    margin-top: 15px;
    line-height: 32px;
    padding-left: 4px;
}

.author_description {
    text-transform: uppercase;
    font-weight: 600;

}

.feedback_author {
    display: flex;
}

.feedback_author > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.feedback_author > div > p {
    margin-top: 4px;
    padding-left: 27px;
    margin-bottom: 7px;
}

.download-line {
    background-color: #000000;
    height: 170px;
}

.download-line_info {
    display: flex;
    margin-left: 15px;
    padding-top: 59px;
}

.download_text {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 400;
}

.download_text > span {
    font-weight: 500;
    font-size: 37px;
}

.download-line_info .buttons-area {
    margin-left: 143px;
    margin-top: 0;
}

.download-line_info .buttons-area .blue_button {
    margin-left: 18px;
}

.prices .wrapper > h4 {
    text-align: center;
    padding-top: 59px;
    margin-top: 0;
}

.prices .wrapper > h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #060606;
}

.prices .wrapper h2.lines::before {
    content: '';
    top: 73px;
    left: 580px;
}

.prices .wrapper h2.lines::after {
    content: '';
    top: 73px;
    left: 600px;
}

.price-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price-list_item {
    border: 1px solid #9C9C9D;
    margin: 65px 14px 14px 14px;
}

.price-list_item_title {
    padding: 19px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #9C9C9D;
}

.price-list_item_price {
    text-align: center;
    padding: 20px 22px;
    border-bottom: 1px solid #9C9C9D;
}

.price-list_item_price-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-list_item_price-number > i {
    display: inline-block;
    text-align: center;
}

.price-list_item_price-number > div {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.fas {
    font-size: 27px;
    padding-right: 2px;
}

.price-list_item_price > p {
    margin-top: -4px;
    font-size: 18px;
}

.price-list_item_text {
    padding: 44px 37px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #767677;
}

.price-list_item_text > span {
    color: #008ed6;
}

.price-list_item .button {
    margin: -2px 57px 28px;
}

.price-list_item .transparent_button {
    color: #008ed6;
    border: 1px solid #9C9C9D;
}

.price-list_item .transparent_button:hover {
    background-color: #adb0c7;
    color: #45454b;
    transition-duration: 0.2s;
}

.active .price-list_item_title {
    color: #008ed6;
}

.active .price-list_item_price {
    background-color: #008ed6;
    color: #FFFFFF;
}

.contacts {
    background-color: #dbdbdc;
    position: relative;
}

.contacts .wrapper > h4 {
    text-align: center;
    padding-top: 58px;
    margin-top: 47px;
}

.contacts .wrapper > h2 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #060606;
}

.contacts .wrapper h2.lines::before {
    content: '';
    top: 73px;
    left: 580px;
}

.contacts .wrapper h2.lines::after {
    content: '';
    top: 73px;
    left: 600px;
}

.contacts-list {
    display: flex;
    justify-content: space-around;
    margin-top: 87px;
    margin-bottom: 350px;
}

.contacts-list_item {
    text-align: center;
}

.contacts-list_item-icon > i {
    font-size: 30px;
    color: #008ed6;
}

.contacts-list_item-text {
    font-size: 18px;
    margin-top: 26px;
    line-height: 1.4em;
}

.contacts-field {
    background-color: #000000;
    position: absolute;
    top: 422px;
    left: 456px;
    z-index: 2;
    width: 768px;
    height: 360px;
}

.contacts-values {
    display: flex;
}

.contacts-field_list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-left: 54px;
    margin-top: 48px;
}

.contacts-field_list-item {
    background-color: transparent;
    padding: 16px;
    margin: 10px 20px 10px 10px;
    width: 265px;
    outline: none;
    border: 1px solid #9C9C9D;
    color: #9C9C9D;
}

textarea {
    background-color: transparent;
    margin-top: 59px;
    width: 269px;
    height: 157px;
    outline: none;
    resize: none;
    color: #9C9C9D;
    font-family: Source Sans Pro, sans-serif;
    padding: 15px;
}

::placeholder {
    text-transform: uppercase;
    color: #9C9C9D;
    font-weight: bold;
    font-family: Source Sans Pro, sans-serif;
}

.contacts-field .blue_button {
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 40px;
    right: 84px;
    outline: none;
}

iframe {
    width: 100%;
    height: 70vh;
    border: none;
    z-index: 1;
}

footer {
    background-color: #000000;
    padding-bottom: 30px;
}

.footer-icon_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon_list > i {
    font-size: 20px;
    padding: 16px;
    margin-top: 46px;
    color: #9C9C9D;
}

.fa-twitter {
    color: #008ed6;
}

.footer-rights {
    text-transform: uppercase;
    color: #9C9C9D;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}